html {
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 960px;
}

header h1 {
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.hr {
    width: 100%;
    height: 2px;
    background: #7d97ad;
    overflow: hidden;
    grid-area: hr;
}

.cell h2 {
    color: #7d97ad;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-after: 0px;
    -webkit-margin-after: 0em;

}

.cell p {
    margin-before: 5px;
    -webkit-margin-before: 5px;    
}

svg.color-swatch {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color-bar {
    grid-area: color-bar;
}

.main-picture {
    grid-area: main-picture;
}

.main-picture img {
    width: 100%;
}


svg {
    display: block;
}

.blue {
    background-color: #02b3e4;
}

.black {
    background-color: #2d3c49;
}

.blue-gray {
    background-color: #7d97ad;
}

.featured-work {
    grid-area: featured-work;
}

.featured-work svg {
    width: 240px;
    height: 180px;
    border: 1px solid black;
}

.cell {
    margin: 10px 5px 10px 5px;
}


h3 {
    color: #2d3c49;
}

/* This is all commented out.
 * 
 */

 a {
    text-decoration: none;
 }

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "header"
        "hr"
        "color-bar"
        "main-picture"
        "featured-work";
}

header {
    display: flex;
    grid-area: header;
}

.info {
    flex: 1 0 auto;
}

.logo {
    flex: 0 0 auto;
}

img {
    max-width: 100%;
}

header h4 {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: right;

}

.containter {
    clear: both;
}

@media screen and (min-width:710px) {
    .wrapper {
    grid-template-columns: 120px 1fr;
    grid-template-areas: 
        ". header"
        ". hr"
        "color-bar main-picture"
        "color-bar featured-work"
    }

    .color-bar {
        /* Once we switch to a column layout,
         * don't flex the color-bar swatches 
        */
        display: block;
    }
}